
 .home {
    background-color: #fff;
}

.home > .bg-img {
    width: 100%;
    height: 315px;
    background-color: #55cbcd;
    background-image: url('../images/profile/Vector.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 769px) {
    .home > .bg-img {
        background-size: 50%;
    }
}




/* For All Modals in Home (Level 1) */

.close{
    color: #fff;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.close-train {
    color: 000;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-train:hover,
.close-train:focus {
    color: #EEE;
    text-decoration: none;
    cursor: pointer;
}

.profile-modal,
.create-modal,
.submit-modal,
.generate-modal,
.basic-modal,
.life-modal,
.sol1-modal,
.sol2-modal,
.sol3-modal,
.cell-training-modal,
.baptism-modal,
.weddings-modal,
.cd-modal,
.advance-modal,
.specialized-modal{
   display: none;
   position: fixed;
   z-index: 6;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}

.profile-modal-content,
.create-modal-content,
.submit-modal-content,
.generate-modal-content,
.basic-modal-content,
.life-modal-content,
.sol1-modal-content,
.sol2-modal-content,
.sol3-modal-content,
.cell-training-content,
.baptism-modal-content,
.weddings-modal-content,
.cd-modal-content,
.advance-modal-content,
.specialized-modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}


.profile-modal-content > .bg-img,
.create-modal-content > .bg-img,
.submit-modal-content > .bg-img,
.generate-modal-content > .bg-img{
   width: 100%;
   height: 200px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}

.profile-modal-content form,
.create-modal-content form,
.submit-modal-content form,
.generate-modal-content form {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}


.profile-modal-content h1,
.create-modal-content h1,
.submit-modal-content h1,
.generate-modal-content h1 {
    font-family: metropolis-md;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}

.create-modal-content form input,
.submit-modal-content form input,
.generate-modal-content form input {
    height: 30px;
}

.profile-modal-content form > input[type="submit"],
.create-modal-content form > input[type="submit"],
.submit-modal-content form > input[type="submit"],
.generate-modal-content form > input[type="submit"],
.create-modal-content form select,
.submit-modal-content form select,
.generate-modal-content form select{
    border: 0;
    font-family: metropolis;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    font-size: 13px;
    border-bottom: 1px solid;
}

.create-modal-content form input[type="email"] {
    font-size: 13px;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #48BEFF;
}

.profile-modal-content form label,
.create-modal-content form label,
.submit-modal-content form label,
.generate-modal-content form label{
    font-family: metropolis;
    font-size: 13px;
}

.profile-modal .filter-gender,
.generate-modal .filter-gender {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: metropolis;
}


@media (min-width: 769px) {
    .profile-modal-content,
    .create-modal-content,
    .submit-modal-content,
    .generate-modal-content{
        background-color: #fefefe;
        margin: 0 auto;
        border: 1px solid #888;
        width: 613px;
        border-radius: 20px;
    }

    .basic-modal-content,
    .life-modal-content,
    .sol1-modal-content,
    .sol2-modal-content,
    .sol3-modal-content,
    .cell-training-content,
    .baptism-modal-content,
    .weddings-modal-content,
    .cd-modal-content,
    .advance-modal-content,
    .specialized-modal-content{
        background-color: #fefefe;
        margin: 0 auto;
        border: 1px solid #888;
        width: 769px;
        border-radius: 20px;
    }

    .profile-modal,
    .create-modal,
    .submit-modal,
    .generate-modal {
        padding-top: 50px;
    }

    .basic-modal,
    .life-modal,
    .sol1-modal,
    .sol2-modal,
    .sol3-modal,
    .cell-training-modal,
    .baptism-modal,
    .weddings-modal,
    .cd-modal,
    .advance-modal,
    .specialized-modal {
        padding-top: 100px;
    }

    .profile-modal-content {
        height: 750px;
    }

    .create-modal-content {
        height: 784px;
    }

    .submit-modal-content {
        height: 850px;
    }
    
    .generate-modal-content {
        height: 720px;
    }

    .basic-modal-content,
    .life-modal-content,
    .sol1-modal-content,
    .sol2-modal-content,
    .sol3-modal-content,
    .cell-training-content,
    .baptism-modal-content,
    .weddings-modal-content,
    .cd-modal-content,
    .advance-modal-content,
    .specialized-modal-content {
        height: 500px;
    }

    .profile-modal-content > .bg-img,
    .create-modal-content > .bg-img,
    .submit-modal-content > .bg-img,
    .generate-modal-content > .bg-img {
        border-radius: 20px 20px 0 0;
    }
    
}


/* Profile */
.home {
    background-color: #55cbcd;
}

.home .profile {
    font-family: metropolis;
    color: #000;
    margin: 0 auto;
    margin-top: -100px;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
}

.home .profile > img {
    width: 161px;
    height: 161px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -80px;
    margin-left: -20px;
}

.home .profile-data h1 {
    font-family: metropolis-md;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
}

.home .profile-data button {
    position: relative;
    float: right;
    bottom: 0;
    border-radius: 20px;
    margin-right: -40px;
    margin-top: 10px;
    background-color: #48BEFF;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
}

.home .profile-data button:hover {
    cursor: pointer;
}

@media (min-width: 769px) {
    .home .profile {
        width: 95%;
        text-align: left;
    }

    .home .profile .profile-data {
        margin-left: 180px;
    }
}

/* Edit Profile Modal */
.profile-modal-content > .bg-img {
    background-color: #48BEFF;
    background-image: url('../images/profile/Vector.png');
}

.profile-modal-content > img {
    float: left;
    margin-left: 50px;
    margin-top: -100px;
}

.profile-modal-content form input,
.profile-modal-content form select {
    font-family: metropolis;
    font-size: 13px;
    color: #48BEFF;
    border: 0;
    border-bottom: 1px solid #48BEFF;
    padding: 10px 0;
}




.profile-modal-content form input::placeholder {
    font-family: metropolis;
    font-size: 13px;
    color: #48BEFF;
    padding: 10px 10px;
}

.profile-modal .filter-gender div,
.generate-modal .filter-gender div {
    padding: 10px 40px;
}

.profile-modal .filter-gender .active {
    background-color: #48BEFF;
    color: #000;
}


.profile-modal-content form > input[type="submit"] {
    background-color: #48BEFF;
    color: #ABF7F9;
}


.profile-modal-content form .bday {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #48BEFF;
    margin-bottom: 10px;
    padding: 0 10px;
}

.profile-modal-content form input[type="date"] {
    border: 0;
}

.profile-modal-content form input::placeholder,
.profile-modal-content form select,
.profile-modal-content form label{
    color: #48BEFF;
}

.profile-modal-content h1 {
    color: #48BEFF;
    margin-top: 20px;
    font-size: 40px;
}



  /* Create Modal */
.create-modal-content > .bg-img {
    background-color: #48BEFF;
    background-image: url('../images/profile/Vector.png');
}

.create-modal-content form {
    color: #48BEFF;
}

.create-modal-content form > input[type="submit"] {
    background-color: #48BEFF;
    color: #ABF7F9;
}

.create-modal-content h1 {
    color: #48BEFF;
}

.create-modal-content form input[type="email"],
.create-modal-content form select {
    border-color:  #48BEFF;
}

.create-modal-content form input::placeholder,
.create-modal-content form select,
.create-modal-content form label{
    color: #48BEFF;
}

.create-modal .checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.create-modal .checkbox div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.create-modal .checkbox div label {
    margin-left: 10px;
}


/* Submit Report Modal Content */
.submit-modal-content > .bg-img {
    background-color: #3DBD96;
    background-image: url('../images/profile/Vector.png');
}

.submit-modal-content form {
    color: #3DBD96;
}

.submit-modal-content form > input[type="submit"] {
    background-color: #3DBD96;
    color: #ABF7F9;
}

.submit-modal-content h1 {
    color: #3DBD96;
}

.submit-modal-content form > input {
    border: 0;
    border-bottom: 1px solid #3DBD96;
}

.submit-modal-content form input::placeholder,
.submit-modal-content form label,
.submit-modal-content form textarea::placeholder{
    color: #3DBD96;
    font-family: metropolis;
}

.submit-modal-content form textarea {
    margin-top: 10px;
    border-color: #3DBD96;
    height: 50px;
}

.submit-modal-content form .date,
.submit-modal-content form .time {
    border-bottom: 1px solid #05A575;
    margin-bottom: 10px;
    width: 200px;
}

.submit-modal-content form > div input {
    margin-left: 10px;
}

.submit-modal-content form input[type="date"],
.submit-modal-content form input[type="time"] {
    text-transform: uppercase;
    border: 0;
    color: #3DBD96;
}


.submit-modal-content form > label {
    margin: 20px 0;
    width: 100%;
}

.submit-modal-content form input:nth-child(3),
.submit-modal-content form input:nth-child(5) {
    border: 0;
    border-bottom: 1px solid #05A575;
    width: 100%;
}


.attendance {
    margin-left: 40px;
}

.attendance div {
    width: 250px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.attendance input {
    border: 1px solid #05A575;
}

/* Generate Report Modal Content */
.generate-modal-content > .bg-img {
    background-color: #A3D465;
    background-image: url('../images/profile/Vector.png');
}

.generate-modal-content form {
    color: #A3D465;
}

.generate-modal-content form input,
.generate-modal-content form select {
    font-family: metropolis;
    font-size: 13px;
    color: #A3D465;
    border: 0;
    border-bottom: 1px solid #A3D465;
}

.generate-modal-content form > input[type="submit"] {
    background-color: #A3D465;
    color: #ABF7F9;
}

.generate-modal-content h1 {
    color: #A3D465;
}

.generate-modal-content form input::placeholder,
.generate-modal-content form label,
.generate-modal-content form textarea::placeholder{
    color: #A3D465;
}

.generate-modal-content form textarea {
    border-color: #A3D465;
}

.generate-modal-content form .date {
    border: 0;
    border-bottom: 1px solid #A3D465;
    margin-bottom: 10px;
    width: 200px;
}

.generate-modal-content form input[type="date"] {
    color: #A3D465;
    text-transform: uppercase;
    border: 0;
}

.generate-modal-content form > div {
    display: flex;
    justify-content: space-between;
}

.generate-modal-content form input {
    border: 0;
    border-bottom: 1px solid #A3D465;
}

.generate-modal .checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.generate-modal .checkbox div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.generate-modal .checkbox div label {
    margin-left: 10px;
}



.generate-modal .filter-gender .active {
    background-color: #A3D465;
    color: #000;
}




  /* Functions */

.functions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.functions button {
    font-size: 16px;
    margin: 20px;
    border-radius: 20px;
    background-color: #48BEFF;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);

}

/* Trainings */
.trainings {
    padding: 0 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.trainings form input {
    border: 0;
    border-bottom: 1px solid #4AF851;
}

@media (min-width: 769px) {
    .trainings {
        justify-content: flex-start;
    }
}

.trainings .training-card {
    cursor: pointer;
}

.trainings .training-card img{
    height: 60px;
    width: 60px;
}

.trainings .training-card:hover {
    opacity: .8;
}

.trainings .training-card:nth-child(1) {
    background-color: #FF3294;
}

.trainings .training-card:nth-child(2) {
    background-color: #32DAFF;
}

.trainings .training-card:nth-child(3) {
    background-color: #4AF851;
}

.trainings .training-card:nth-child(4) {
    background-color: #FF9040;
}

.trainings .training-card:nth-child(5) {
    background-color: #DF4AF8;
}

.trainings .training-card:nth-child(6) {
    background-color: #325FFF;
}

.trainings .training-card:nth-child(7) {
    background-color: #FFEA32;
}

.trainings .training-card:nth-child(8) {
    background-color: #F46141;
}

.trainings .training-card:nth-child(9) {
    background-color: #FF3232;
}

.trainings .training-card:nth-child(10) {
    background-color: #23a798;
}

.trainings .training-card:nth-child(11) {
    background-color: #40D460;
}


.training-card {
    font-family: 'Lexend', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    width: 161px;
    height: 161px;
}

.training-card h2 {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 19px;
}

.training-card div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.training-card div p {
    margin-left: 5px;
    font-size: 52px;
}

.trainings {
    padding-bottom: 100px;
}


/* Training Modals Design */

/* 
.basic-modal-content,
.life-modal-content,
.sol1-modal-content,
.sol2-modal-content,
.sol3-modal-content,
.cell-training-modal {
}
 */

.basic-modal-content h1,
.life-modal-content h1,
.sol1-modal-content h1,
.sol2-modal-content h1,
.sol3-modal-content h1,
.cell-training-content h1,
.baptism-modal-content h1,
.weddings-modal-content h1,
.cd-modal-content h1,
.advance-modal-content h1,
.specialized-modal-content h1  {    
    text-align: center;
    font-family: metropolis-bold;
    font-size: 40px;
    padding: 20px;
}

.basic-modal-content h1,
.life-modal-content h1,
.sol1-modal-content h1,
.sol2-modal-content h1,
.sol3-modal-content h1,
.cell-training-content h1,
.baptism-modal-content h1,
.weddings-modal-content h1,
.cd-modal-content h1,
.advance-modal-content h1,
.specialized-modal-content h1 {    
    color: #000;
}


.basic-modal-content table,
.life-modal-content table,
.sol1-modal-content table,
.sol2-modal-content table,
.sol3-modal-content table,
.cell-training-content table,
.baptism-modal-content table,
.weddings-modal-content table,
.cd-modal-content table,
.advance-modal-content table,
.specialized-modal-content table {
    font-family: metropolis;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: separate;
}

.life-modal-content table thead {
    position: sticky;
    top: 0;
}

.basic-modal-content table th,
.life-modal-content table th,
.sol1-modal-content table th,
.sol2-modal-content table th,
.sol3-modal-content table th,
.cell-training-content table th,
.baptism-modal-content table th,
.weddings-modal-content table th,
.cd-modal-content table th,
.advance-modal-content table th,
.specialized-modal-content table th {
    text-align: center;
    font-family: metropolis-bold;
    text-transform: uppercase;
    background-color: #EEEEEE;
    padding: 5px 10px;
}

.basic-modal-content table td,
.life-modal-content table td,
.sol1-modal-content table td,
.sol2-modal-content table td,
.sol3-modal-content table td,
.cell-training-content table td,
.baptism-modal-content table td,
.weddings-modal-content table td,
.cd-modal-content table td,
.advance-modal-content table td,
.specialized-modal-content table td {

    border-right: 1px solid;
}


.basic-modal-content select,
.life-modal-content select,
.sol1-modal-content select,
.sol2-modal-content select,
.sol3-modal-content select,
.cell-training-content select,
.baptism-modal-content select,
.weddings-modal-content select,
.cd-modal-content select,
.advance-modal-content select,
.specialized-modal-content select {
    cursor: pointer;
    font-family: metropolis-bold;
    font-family: 20px;
    padding: 10px;
    border: 0;
    margin: 10px 0 10px 30px;
}

.life-modal-content table thead {
    border: 1px solid #000;
}

.life-modal-content table tbody tr td:last-child {
    border: 0;
}

/* .basic-modal-content select {
    color: #32DAFF;
}
.life-modal-content select {
    color: #4AF851;
}
.sol1-modal-content select {
    color: #FF9040;
}
.sol2-modal-content select {
    color: #DF4AF8;
}
.sol3-modal-content select {
    color: #325FFF;
}
.cell-training-content select {
    color: #FFEA32;
}
.baptism-modal-content select {
    color: #F46141;
}
.weddings-modal-content select {
    color: #34CEBC;
}
.cd-modal-content select {
    color: #40D460;
} */

.basic-modal-content div,
.life-modal-content div,
.sol1-modal-content div,
.sol2-modal-content div,
.sol3-modal-content div,
.cell-training-content div,
.baptism-modal-content div,
.weddings-modal-content div,
.cd-modal-content div,
.advance-modal-content div,
.specialized-modal-content div  {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: auto;
    max-height: 600px;
}

@media (min-width: 769px) {
    .basic-modal-content div,
    .life-modal-content div,
    .sol1-modal-content div,
    .sol2-modal-content div,
    .sol3-modal-content div,
    .cell-training-content div,
    .baptism-modal-content div,
    .weddings-modal-content div,
    .cd-modal-content div,
    .advance-modal-content div,
    .specialized-modal-content div {
        position: relative;
        border-collapse: collapse;
        border-spacing: 0;
        overflow-y: auto;
        max-height: 300px;
    }
}


/* .basic-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #32DAFF;
}

.basic-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #25a2be;
}

.basic-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #43dafb;
}

.basic-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.basic-modal-content table th {
    background-color: #EEEEEE;
    color: #32DAFF;
    opacity: 1;
} */



/* .life-modal-content table tr td:nth-child(odd) {
    background-color: #4AF851;
}

.life-modal-content table tr td:nth-child(even) {
    background-color: #23de2a;
}

.life-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #55e359;
}

.life-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.life-modal-content table th {
    background-color: #EEEEEE;
    color: #4AF851;
    opacity: 1;
} */


/* .sol1-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #FF9040;
}

.sol1-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #e17426;
}

.sol1-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #d17d42;
}

.sol1-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.sol1-modal-content table th {
    background-color: #EEEEEE;
    color: #FF9040;
    opacity: 1;
} */


/* .sol2-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #DF4AF8;
}

.sol2-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #b62bce;
}

.sol2-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #bf58d1;
}

.sol2-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.sol2-modal-content table th {
    background-color: #EEEEEE;
    color: #DF4AF8;
    opacity: 1;
} */


/* .sol3-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #325FFF;
}

.sol3-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #1740d5;
}

.sol3-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #325FFF;
}

.sol3-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.sol3-modal-content table th {
    background-color: #EEEEEE;
    color: #325FFF;
    opacity: 1;
} */


/* .cell-training-content table tr td:nth-child(odd) {
    background-color: #FFEA32;
}

.cell-training-content table tr td:nth-child(even) {
    background-color: #dbc71b;
}

.cell-training-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #e7d747;
}

.cell-training-content table tr:nth-child(even) {
    opacity: .6;
}

.cell-training-content table th {
    background-color: #EEEEEE;
    color: #FFEA32;
    opacity: 1;
} */


/* .baptism-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #F46141;
}

.baptism-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #d44323;
}

.baptism-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #e76c51;
}

.baptism-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.baptism-modal-content table th {
    background-color: #EEEEEE;
    color: #F46141;
    opacity: 1;
} */


/* .weddings-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #34CEBC;
}

.weddings-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #1bbca9;
}

.weddings-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #43cbbb;
}

.weddings-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.weddings-modal-content table th {
    background-color: #EEEEEE;
    color: #34CEBC;
    opacity: 1;
} */


/* .cd-modal-content table tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #40D460;
}

.cd-modal-content table tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #21b942;
}

.cd-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #52d86f;
}

.cd-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.cd-modal-content table th {
    background-color: #EEEEEE;
    color: #40D460;
    opacity: 1;
} */