.table {
    overflow: scroll;
}

.table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1500px;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .table table {
        width: 100%;
    }
}
  
tr, td, th {
    border: 0;
}

td, th {
    text-align: left;
    padding: 8px;
    }

th {
    background-color: #EEEEEE;
    color: #099295;
}

tr td:nth-child(odd) {
    color: #EEEEEE;
    background-color: #3CAA89;
}

tr td:nth-child(even) {
    color: #EEEEEE;
    background-color: #2A8368;
}

tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #43C59E;
}

tr:nth-child(even) {
    opacity: .6;
}

.table th {
    background-color: #EEEEEE;
    color: #099295;
    opacity: 1;
}

  