.ministry {
    background-color: #A3D465;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.ministry-banner > img {
    position: relative;
    width: 100%;
    height: 200px;
}

.ministry-banner > h1 {
    font-family: metropolis-md;
    font-size: 33px;
    color: #137F82;
    position: absolute;
    margin-left: 50px;
    float: left;
    top: 60px;
}

@media (min-width: 1025px) {
    .ministry-banner > img {
        width: 80vw;
        height: auto;   
    }

    .ministry-banner > h1 {
        top: 100px;
    }

}


/* Ministry Content */
.ministry .ministry-content {
    margin-top: -100px;
    margin-bottom: 100px;
}

.ministry .ministry-content > .ministry-profile {
    text-align: start;
    padding: 20px;
    font-family: metropolis;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

}

.ministry .ministry-content > .ministry-profile:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.55);
}

.ministry .ministry-profile h1 {
    font-family: metropolis-md;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}

.ministry .ministry-profile h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 300px;
}

.ministry .ministry-profile div {
    color: #fff;
    margin-left: 20px;
}

.ministry .ministry-profile img {
    width: 161px;
    height: 161px;
}


/* Ministry Modal */
.ministry .ministry-modal{
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.ministry .ministry-modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    max-width: 769px;
}

.ministry .ministry-modal-content img {
    width: 161px;
    height: 161px;
    position: relative; 
}

.ministry .ministry-modal-content .profile-data > p {
    margin-bottom: 20px;
}

.ministry .ministry-modal-content .profile-data h1 {
    font-family: metropolis-md;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
}

.ministry .ministry-modal-content 

.ministry .ministry-modal-content h1  {    
    text-align: center;
    font-family: metropolis-bold;
    font-size: 40px;
    padding: 20px;
}

.ministry .ministry-modal-content > div:nth-child(1) {
    display: flex;
    width: 90%;
    margin:  0 auto;
}

.ministry .ministry-modal-content > div:nth-child(3)  {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: auto;
    height: 500px;
    margin-top: 50px;
}

.ministry .ministry-modal-content .profile-data {
    margin-top: 20px;
    width: 100%;
}

.ministry .ministry-modal-content .profile-data p {
    font-family: metropolis;
    font-size: 20px;
}

.ministry .ministry-modal-content .profile-data button {
    cursor: pointer;
    font-family: metropolis;
    font-size: 16px;
    border: 0;
    padding: 10px 40px;
    background-color: #A3D465;
    border-radius: 20px;
}

.ministry .ministry-modal-content table {
    font-family: metropolis;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.ministry .ministry-modal-content table th {
    text-align: center;
    font-family: metropolis-bold;
    text-transform: uppercase;
    background-color: #EEEEEE;
    padding: 5px 10px;
}

.ministry .ministry-modal-content > select {
    cursor: pointer;
    font-family: metropolis-bold;
    font-family: 20px;
    padding: 10px;
    border: 0;
    margin: 10px 0 10px 30px;
    position: absolute;
    display: block;
    float: left;
}


.ministry .ministry-modal-content .profile-data div {
    display: flex;
    justify-content: center;
    align-items: center;
}





@media (min-width: 769px) {
    .ministry .ministry-modal{
        padding-top: 150px;
    }
    
    .ministry .ministry-modal-content {
        border-radius: 20px;
        height: 600px;
    }
    
    .ministry .ministry-modal-content div:nth-child(3){
        height: 300px;
    }
}


.ministry .ministry-modal-content table tr td:nth-child(odd) {
    color: #000;
    background-color: #A3D465;
}

.ministry .ministry-modal-content table tr td:nth-child(even) {
    color: #000;
    background-color: #7eaf3e;
}

.ministry .ministry-modal-content table tr td:nth-child(1) {
    text-transform: uppercase;
    background-color: #9abf69;
}

.ministry .ministry-modal-content table tr:nth-child(even) {
    opacity: .6;
}

.ministry .ministry-modal-content table th {
    background-color: #EEE;
    color: #000;
    opacity: 1;
}