body {

    background-color: grey;
}
main {
    display: flex;
    justify-content: center;
}
.profile {
    width: 90%;
    background-color: #fff;
    height: 300px;
}

.profile img {
    width: 50px;
}