body {
    background-color: grey;
}



.profile {
    margin: 0 auto;
    margin-top: 200px;
    width: 80%;
    border-radius: 30px;
    background-color: #fff;
}

.profile p {
    padding: 10px 20px;
}

.profile .info1{
    text-align: center;
    display: block;
}

.profile .info1 div {
    display: inline;
    width: 50%;
}

.info1 h1 {
    margin: 10px auto;
    font-size: 22px;
}

.info1 div span {
    margin-left: 10px;
}
.profile img {
    float: left;
    width: 120px;
    margin-top: -40px;
    border-radius: 20px;
}

.profile button {
    float: right;
    margin-right: -20px;
    margin-top: -10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(99, 173, 255);
    color: #fff;
}

.datas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.datas .card {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
}

.datas .card:nth-child(1) {
    background-color: rgb(253, 238, 115);
}

.datas .card:nth-child(2) {
    background-color: rgb(128, 222, 251);
}

.datas .card:nth-child(3) {
    background-color: rgb(128, 246, 130);
}

.datas .card:nth-child(4) {
    background-color: rgb(242, 169, 111);
}

.datas .card:nth-child(5) {
    background-color: rgb(214, 116, 242);
}

.datas .card:nth-child(6) {
    background-color: rgb(97, 124, 247);
}

.datas .card:nth-child(7) {
    background-color: rgb(236, 101, 95);
}  


.church-leader div {
    width: 100%;
}

.leader img {
    width: 50px;
}